<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <!-- Title of the sidebar -->
            <h1 class="title">
                Lists
            </h1>

            <!-- Divider that holds the seperate lists -->
            <div class="list-menu">
                <a class="list-menu-item">
                    <p>
                        Schoolwork
                    </p>
                </a>
                <a class="list-menu-item is-active">
                    <p>
                        Errands
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>
                        PC Build
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>
                        Bedroom Redesign
                    </p>
                </a>
            </div>

            <!-- Buttone to add a new list -->
            <button class="button">
                + Add List
            </button>
        </div>

        <div class="tasks-list-container has-background-light">
            <!-- Title of the tasks menu -->
            <h1 class="title">
                Tasks
            </h1>

            <!-- Divider that holds the tasks in a list -->
            <div class="tasks-menu">
                <a class="tasks-menu-item">
                    <p>
                        Mail out package
                    </p>
                </a>
                <a class="tasks-menu-item is-complete">
                    <p>
                        Do laundry
                    </p>
                </a>
                <a class="tasks-menu-item">
                    <p>
                        Take car to be serviced
                    </p>
                </a>
                <a class="tasks-menu-item">
                    <p>
                        Take out trash
                    </p>
                </a>
                <a class="tasks-menu-item is-complete">
                    <p>
                        Meal prep for next week
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>